ul.header li{
    display: inline-block;
    margin: 1.75%;
}
ul.header li a{
    text-decoration: none;
}
h1{
    text-align: center;
}
p{
    text-align: center;
    font-size: x-large;
}
a:hover{
    color: #787878;
}
.cii{
    display: none;
}
a.ci{
    cursor: text;
    text-decoration: none;
}
a.ci:hover{
    .cii{
        display: block;
    }
}
.mod{
    position: absolute;
    top: 15px;
    right: 5px;
    width: 60px;
    display: flex;
    cursor: pointer;
}
@media screen and (max-width: 1230px){
    ul.header{
        display: none;
    }
    ul.header li{
        display: block;
    }
    p{
        font-size: xx-large;
    }
    a.mail{
        font-size: smaller;
    }
    .mod{
        opacity: 0.5;
    }
}