:root {
    /* Couleurs */
    --text-light: #333;
    --text-dark: white;
    --bg-light: #f0f0f0;
    --bg-dark: #121212;
    --nav-light: #ccc;
    --nav-dark: #212121;
    --border-light: black;
    --border-dark: white;
    --accent-color: #787878;
}

/* Transitions */
a {
    transition: color 0.3s ease;
}

body {
    transition: background-color 0.3s ease, color 0.3s ease;
}

nav {
    transition: background-color 0.3s ease, border-color 0.3s ease;
}

/* Dark mode */
.dark-mode {
    background-color: var(--bg-dark);
    color: var(--text-dark);
}

.dark-mode a {
    color: var(--text-dark);
}

.dark-mode nav {
    background-color: var(--nav-dark);
    border-bottom: 1px solid var(--border-dark);
    border-left: 1px solid var(--border-dark);
    border-right: 1px solid var(--border-dark);
}

.dark-mode ul.header li a {
    color: var(--text-dark);
}

/* White mode */
.light-mode {
    background-color: var(--bg-light);
    color: var(--text-light);
}

.light-mode a {
    color: var(--text-light);
}

.light-mode nav {
    background-color: var(--nav-light);
    border-bottom: 1px solid var(--border-light);
    border-left: 1px solid var(--border-light);
    border-right: 1px solid var(--border-light);
}

/* CSS Général */

body {
    padding-top: 130px;
    overflow-x: hidden;
}

section[id] {
    scroll-margin-top: 130px;
    /* À remplacer par la hauteur exacte de ta navbar */
}

div#burger {
    display: none;
    /* Masquer le menu burger par défaut */
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 1000;
    /* S'assurer qu'il est au-dessus de tout */
}

section.borderbottom {
    border-bottom: 1px solid #787878;
}

nav {
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 80%;
    box-sizing: border-box;
    border-radius: 0px 0px 40px 40px;
}

ul.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    text-align: center;
    padding: 20px 20px;
}

ul.header li {
    display: flex;
    align-items: center;
}

ul.header li a {
    text-decoration: none;
}

ul.header li div {
    width: 30px;
    height: auto;
    text-align: center;
}

ul.header li div img {
    width: 100%;
    display: block;
    cursor: pointer;
}

h1 {
    text-align: center;
}

section {
    margin-bottom: 40px;
}

p {
    font-size: x-large;
    margin: 20px;
    line-height: 1.6;
}

a:hover {
    color: #787878;
}

.project-status {
    font-weight: bold;
    font-style: italic;
    color: gray;
}

footer {
    text-align: center;
    padding: 20px;
    font-size: smaller;
}

#burger-icon {
    width: 30px;
    height: 30px;
    cursor: pointer;
}

@media screen and (max-width: 1230px) {
    body {
        padding-top: 0px;
    }

    .dark-mode nav, .light-mode nav {
        border: none;
    }

    ul.header {
        display: none;
        flex-direction: column;
    }

    ul.header li a {
        margin-bottom: 20px;
    }

    div#burger {
        display: block;
    }

    section[id] {
        scroll-margin-top: 10px; /* À remplacer par la hauteur exacte de ta navbar */
    }

    p {
        font-size: xx-large;
        margin-bottom: 40px;
    }

    a.mail {
        font-size: smaller;
    }
}